/* Google Fonts - Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --dark-gray-blue: #1A2A33;
    --gray-blue: #1F3641;
    --light-gray-blue: #31C3BD;
    --yellow-org: #F2B137;

    font-size: 62.5%; /* 10px === 1rem appox.  */
    font-family: 'Outfit', sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--dark-gray-blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    max-width: 100%;
}


/* TOP DISPLAY */
#top-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    height: 65px
}

#logo {
    height: 35px;
}

#turn {
    margin-right: 3rem;
    background: var(--gray-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 135px;
    border-radius: 1rem;
    box-shadow: 0px 5px 1px 1px #10212a;
}

.turn-logo {
    height: 20px;
}

.turn-title {
    color: var(--light-gray-blue);
    font-size: 1.5rem;
}

#restart {
    background-color: var(--light-gray-blue);
    width: 40px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 0px 0px #6b8997;
}

#restart:hover {
    background-color: #A8BFC9;
    cursor: pointer;
}

/* **************** */
/*  MEDIA QUERIES  */
@media screen and (max-width: 530px) {
    
    #top-display {
        width: 400px;
    }
    
}

/* GAME BOARD */

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
    height: 540px;
    width: 540px;
}

.game-square {
    display: flex;
    place-items: center;
    place-content: center;
    background-color: var(--gray-blue);
    height: 150px;
    width: 150px;
    border-radius: 1rem;
    box-shadow: 1px 5px 4px 1px #10212a;
}

/* **************** */
/*  MEDIA QUERIES  */
@media screen and (max-width: 530px) {
    
    #game-board {
        width: 420px;
        height: 420px;
    }

    .game-square {
        height: 120px;
        width: 120px;
    }
    
}

@media screen and (max-width: 400px) {

    #game-board {
        width: 400px;
        height: 400px;
    }

    .game-square {
        height: 115px;
        width: 115px;
    }
}

/* TRACKING */

#tracking {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tracking-item {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100px;
    height: 45px;
    border-radius: 1rem;
    box-shadow: 0px 3px 0px 1px black;
}

#you-tracker {
    background-color: #31C3BD;
}

#tie-tracker {
    background-color: #F2B137;
}

#cpu-tracker {
    background-color: #A8BFC9;
}

.who-track {
    font-size: 1rem;
}

.score {
    font-size: 2rem;
}

/* X & O Imgs */

.play-piece {
    height: 85px;
    pointer-events: none;
}

/* MODAL */

#modal {
    position: absolute;
    background: #1f3641;
    display: flex;
    place-content: center;
    place-items: center;
    border-bottom: 0.1px solid var(--light-gray-blue);
    border-top: 0.1px solid var(--light-gray-blue);
    width: 100%;
    height: 240px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-contents {
    text-align: center;
    line-height: 5.5rem;
}

.winner-title {
    font-size: 4.6rem;
    color: var(--yellow-org)
}

.winner-para {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light-gray-blue)
}

.modal-btns {
    padding: 10px;
}

.quit-btn {
    background-color: var(--light-gray-blue);
    color: #1a2a33;
    border: 0.1px solid black;
    font-size: 1.6rem;
    font-weight: 800;
    height: 40px;
    width: 80px;
    margin-right: 10px;
    border-radius: 1rem;
    box-shadow: 3px 5px 0px 0px #6b8997;
}

.next-round-btn {
    background-color: var(--yellow-org);
    color: #1a2a33;
    font-size: 1.6rem;
    font-weight: 800;
    border: 0.1px solid black;
    height: 40px;
    width: 140px;
    border-radius: 1rem;
    box-shadow: 3px 5px 0px 0px #cc8b13;
}

.next-round-btn:hover {
    background-color: #FDB44E;
}

.quit-btn:hover {
    background-color: #A8BFC9;
}

.hide {
    display: none !important;
}

/* STARTING DASHBOARD */

.dashboard-container {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

.start-logo {
    width: 140px;
}

.start-rules {
    background: var(--gray-blue);
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 180px;
    margin-top: 50px;
    border-radius: 1.2rem;
    box-shadow: 0px 8px 15px 3px #10212a;
    line-height: 6rem;
}

.start-rules h2 {
    color: var(--light-gray-blue);
    font-size: 2rem;
}

.start-rules h3 {
    color: var(--light-gray-blue);
    font-size: 1.5rem;
}

.start-game-btn {
    font-size: 2rem;
    color: rgb(26, 42, 51);
    font-weight: 800;
    background: rgb(242, 177, 55);
    border: none;
    height: 60px;
    width: 100%;
    margin-top: 50px;
    border-radius: 1.2rem;
    box-shadow: 0px 7px 0px 0px rgb(204 139 19);
}

.start-game-btn:hover {
    box-shadow: 0px 5px 0px 0px rgb(204 139 19);
}